.container {
  border-style: outset;
  border-left-style: none;
  border-right-style: none;
  width: 30%;
  /* margin-top: 2rem;
  margin-bottom: 2rem; */
  margin: 0 auto;
}
.container img {
  width: 75px;
  height: 75px;
  position: relative;
  float: right;
  margin-right: 10px;
  margin-bottom: 20px;
  vertical-align: middle;
  border-radius: 20px;
  margin-left: 10px;
}

.container ul {
  overflow: hidden;
}
.menu-item-name {
  font-weight: bold;
  overflow: hidden;
}
.menu-item-description {
  color: grey;
  opacity: 0.7;
  overflow: hidden;
}
